@font-face{
    font-family:'digital-clock-font';
    src: url('./digital-7\ \(mono\ italic\).ttf');
   }

*{
    font-family:'digital-clock-font'
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
  }
  
  .clock {
    display: flex;
    font-size: 77px;
    font-family: "Digital", sans-serif;
    color: #000000;
    background-color: #5e626d;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    animation: blink 7s infinite;
  }
  
  .time {
    display: flex;
    align-items: center;
  }
  
  span {
    margin: 0 5px;
  }
  
  /* ======================== */

  @keyframes blink{
    0% {
        background: linear-gradient(#eecda3 , #ef629f);
        box-shadow: 0 0 100px #ef629f;
    }
    20% {
        background: linear-gradient(#cc2b5e , #753a88);
        box-shadow: 0 0 1000px #753a88;        
    }
    40% {
        background: linear-gradient(#56ab2f , #a8e063);
        box-shadow: 0 0 100px #56ab2f;
    }
    60% {
        background: linear-gradient(#02aab0 , #00cdac);
        box-shadow: 0 0 1000px #00cdac;
    }
    80% {
        background: linear-gradient(#7b4397 , #dc2430);
        box-shadow: 0 0 100px #dc2430;
    }
    100% {
        background: linear-gradient(#eecda3 , #ef629f);
        box-shadow: 0 0 100px #ef629f;

    }
  }
  
  @-webkit-keyframes blink{
    0% {
        background: linear-gradient(#eecda3 , #ef629f); 
        box-shadow: 0 0 1000px #ef629f;
   
    }
    20% {
        background: linear-gradient(#cc2b5e , #753a88);
        box-shadow: 0 0 1000px #753a88;
    }
    40% {
        background: linear-gradient(#56ab2f , #a8e063);
        box-shadow: 0 0 100px #56ab2f;
    }
    60% {
        background: linear-gradient(#02aab0 , #00cdac);
        box-shadow: 0 0 1000px #00cdac;
    }
    80% {
        background: linear-gradient(#7b4397 , #dc2430);
        box-shadow: 0 0 100px #dc2430;
    }
    100% {
        background: linear-gradient(#eecda3 , #ef629f);
        box-shadow: 0 0 100px #ef629f;

    }
  }